body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    color: #97c9b6;
}

body {
    background-color: grey; /* Makes the background grey*/
}

.page {
    width: 1000px;
    background-color: #97c9b6;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    margin-bottom: 10px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

#title {
    text-align: center;
    background-color: #5e3717;
    font-size: 20px;
    font-family: "Righteous", sans-serif;
    /* background-image: url("img/earthquake_crack.jpg"); */
    background-size: cover; /* Makes the image cover the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 20px; /* Adds some padding for better spacing */
    color: black; /* Optional: changes text color for better contrast */
}


#figure-caption {
    font-size: 13px;
    text-align: center;
}

.pure-img{
    width: 100%; 
    height: auto; 
    max-width: 800px;
    margin-top: 35px;
}

.body-text{
    text-align: justify;
    line-height: 25px;
}

#footer{
    border-top: 2px solid black; /* Thickness, style, and color of the border */
    padding: 10px; /* Optional: adds some space inside the div */
}

.pure-u-1-2{
    text-align: center;  /* Make the figures in the center*/
}

li{
    text-align: justify;
    line-height: 25px;
}

.pure-table th,
.pure-table td {
  border-left: 2px solid #5e3717; /* Left border */
  border-right: 2px solid #5e3717; /* Right border */
  padding: 8px; /* Add some padding for better appearance */
  text-align: center;
}
.pure-table th {
  background-color: #5e3717; /* Header background */
  color: #97c9b6; /* Header text color */
}
.pure-table tr {
  border-bottom: none; /* Bottom border for each row */
}
.pure-table tr:last-child {
  border-bottom: 2px solid #5e3717; /* Remove the bottom border for the last row */
}

.vega-embed summary {
    display: none !important;
}
